name: Node.js CI

on:
  workflow_call:

permissions:
  contents: write # for release-please
  pull-requests: write # for release-please

jobs:
  build:
    name: Build, test and update next release
    runs-on: ubuntu-24.04
    outputs:
      npm_tag: ${{ steps.check.outputs.npm_tag }}
      releases_created: ${{ steps.check.outputs.releases_created }}

    steps:
      - uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: yarn

      - name: Install dependencies, build and package
        run: |
          yarn install --silent --inline-builds --no-immutable
          yarn run build
          cd packages/contensis-cli
          npm pack

      # - name: Test install and run some cli commands
      #   env:
      #     CMSG: ${{ toJSON(github.event.head_commit.message) }}
      #   run: |
      #     cd packages/contensis-cli
      #     APP_VERSION=$(node --eval="process.stdout.write(require('./package.json').version)")
      #     npm i -g contensis-cli-$APP_VERSION.tgz
      #     # contensis-cli push block cli-ci-block ghcr.io/${{ github.repository }}/${{ github.ref_name }}/app:latest -r -cmsg "${CMSG}" -cdt ${{ github.event.head_commit.timestamp }} -author ${{ github.event.head_commit.author.email }} -committer ${{ github.event.head_commit.committer.email }} -a automotron -p contensis -id ${{ secrets.CONTENSIS_CLIENT_ID }} -s ${{ secrets.CONTENSIS_SHARED_SECRET }}
      #     # contensis connect automotron -id ${{ secrets.CONTENSIS_CLIENT_ID }} -s ${{ secrets.CONTENSIS_SHARED_SECRET }}
      #     # contensis connect automotron -p migratortron -id ${{ secrets.CONTENSIS_CLIENT_ID }} -s ${{ secrets.CONTENSIS_SHARED_SECRET }}
      #     # contensis get entries
      #     # contensis-cli get entries -q "externalURL EXISTS" -a trial-006 -p leif2 -id e4376db2-ed3e-49d3-a799-a6ec733a3611 -s a8590f6b4630404186b72fea198d3c12-c6f1f565eb86428ea0170e1b4b8a4b7f-de88eb42e46c4d548a8c36f490f34866
      #     # contensis-cli connect trial-006
      #     # contensis-cli login zengenti 123456

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{secrets.RELEASE_PLEASE_GITHUB_TOKEN}}
          target-branch: main

      - name: Check release output
        id: check
        run: |
          echo "releases_created=${{ steps.release.outputs.releases_created  }}" >> $GITHUB_OUTPUT
          echo "paths_released=${{ steps.release.outputs.paths_released  }}" >> $GITHUB_OUTPUT
          echo "release_tag=${{ steps.release.outputs.contensis-cli--release_created  }}" >> $GITHUB_OUTPUT
          echo "npm_tag=${{ steps.release.outputs.releases_created != 'true' && 'prerelease' || 'latest' }}" >> $GITHUB_OUTPUT

  publish:
    if: needs.build.outputs.releases_created != 'true' && !contains(github.event.head_commit.message, '[nopublish]')
    name: Publish package to npm with Trusted Publishing
    needs: build
    uses: ./.github/workflows/publish.npm.yml
    with:
      tag: ${{ needs.build.outputs.npm_tag }}
    secrets: inherit
    permissions:
      contents: write # for git push prerelease version bump
      id-token: write # for npm trusted publishing
