name: Build and publish prerelease

on:
  workflow_call:

jobs:
  node:
    if: contains(github.event.head_commit.message, '[nobuild]') != true
    name: npm@prerelease
    uses: ./.github/workflows/build.node.yml
    secrets: inherit

  docker:
    if: contains(github.event.head_commit.message, '[nobuild]') != true
    name: ghcr.io:latest
    # technically does not require node/build and could run in parallel
    needs: node
    uses: ./.github/workflows/build.docker.yml
    secrets: inherit

  exe:
    if: contains(github.event.head_commit.message, '[nobuild]') != true
    name: exe
    needs: node
    uses: ./.github/workflows/build.exe.yml
    secrets: inherit
