name: Release version

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      tag:
        description: 'The NPM version tag to use, "latest" will become the default package version, or "prerelease"'
        required: true
        default: 'latest'

jobs:
  node:
    name: npm@latest
    uses: ./.github/workflows/publish.npm.yml
    with:
      tag: ${{ (github.event_name == 'release' && github.event.release.prerelease == true && 'prerelease' || 'latest') || inputs.tag }}
    secrets: inherit

  docker:
    name: docker:release
    needs: node
    secrets: inherit
    uses: ./.github/workflows/release.docker.yml
    with:
      version: ${{ needs.node.outputs.version }}

  exe:
    name: exe
    needs: node
    secrets: inherit
    uses: ./.github/workflows/build.exe.yml
    with:
      release: ${{ github.event_name == 'release' || inputs.tag }}
