name: Release version

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

jobs:
  node:
    name: npm@latest
    uses: ./.github/workflows/publish.npm.yml
    with:
      tag: ${{ (github.event_name == 'release' && github.event.release.prerelease == true && 'prerelease' || 'latest') || inputs.tag }}
    secrets: inherit
    permissions:
      id-token: write # for npm trusted publishing

  docker:
    name: docker:release
    needs: node
    secrets: inherit
    uses: ./.github/workflows/release.docker.yml
    with:
      version: ${{ needs.node.outputs.version }}

  exe:
    name: exe
    needs: node
    secrets: inherit
    uses: ./.github/workflows/build.exe.yml
    with:
      release: ${{ github.event_name == 'release' || inputs.tag }}
